body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
}

nav {
    background-color: #00000077;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header {
    background-color: #f6d90099;
    color: rgba(245, 14, 14, 0.73);
    padding: 20px;
}

.content {
    display: none;
    padding: 20px;
}

.content.active {
    display: block;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}
